@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

a {
  text-decoration: none !important;
  color: inherit;
  display: inline-block;
}

a:hover {
  color: inherit;
}

img {
  max-width: 100%;
}

span, label {
  display: inline-block;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Gilroy", sans-serif !important;
  font-style: normal;
}

input {
  outline: none;
}

button {
  border: none;
  cursor: pointer;
  background: transparent;
  outline: 0 !important;
}

address {
  font-style: normal;
}

.wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.wrapper.home .main_container {
  max-width: 1440px;
  padding: 0 40px;
}

.container_wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
label {
  padding: 0;
  margin: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.main_container {
  max-width: 1320px;
  padding: 0 15px;
  margin: 0 auto;
}

.full_container {
  max-width: 1800px;
}

.main {
  height: 120vh;
}
.main .home_bg {
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
  z-index: -1;
}

header {
  padding-top: 40px;
}
header .main_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header_social_media {
  display: flex;
  align-items: center;
  gap: 10px;
}
header .header_social_media svg {
  font-size: 25px;
  color: rgb(35, 114, 187);
}
header .header_social_media button {
  padding: 12px 50px;
  border-radius: 100px;
  border: 1px solid rgb(35, 114, 187);
  margin-left: 5px;
  font-size: 16px;
  color: rgb(35, 114, 187);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
}
header .header_logo h6 {
  font-size: 30px;
  color: rgb(35, 114, 187);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
}
header .header_contact {
  font-size: 32px;
  color: rgb(35, 114, 187);
  line-height: 0.506;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 10px;
}
header .header_contact svg {
  font-size: 25px;
}

.home {
  left: 0;
  right: 0;
  bottom: 200px;
  margin: 0 auto;
}

.home_under .home_under_card {
  gap: 50px;
}
.home_under .home_under_card h6 {
  font-size: 30px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.2;
}
.home_under .home_under_center {
  transform: translateY(100px);
}

.accordion_main {
  padding: 250px 0;
  background-image: url("../images/accordion_bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.accordion_main .accordion {
  padding-top: 280px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.accordion_main .accordion-item {
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.21);
}
.accordion_main .accordion-item-header {
  padding: 30px 40px;
  display: flex;
  align-items: center;
  width: 100%;
  align-items: center;
  position: relative;
  font-size: 36px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.2;
}
.accordion_main .accordion-item-header::after {
  color: #2372bb;
  content: "+";
  font-size: 45px;
  position: absolute;
  right: 40px;
  border-radius: 15px;
}
.accordion_main .accordion-item-header.active::after {
  content: "−";
  border-radius: 15px;
}
.accordion_main .accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.accordion_main .accordion-item-body ul {
  padding: 0px 40px 40px 40px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.accordion_main .accordion-item-body ul li {
  list-style-position: inside;
  list-style-type: disc;
  font-size: 24px;
  color: #000;
  font-weight: bold;
  line-height: 1.2;
}
.accordion_main .accordion-item-body-content {
  padding: 1rem;
  line-height: 1.5rem;
}/*# sourceMappingURL=style.css.map */